DirectoryIndex index.html

Options -MultiViews

<IfModule mod_mime.c>
  AddType application/manifest+json .webmanifest
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^adminhamada/?$ adminhamada.html [L]
  RewriteRule ^index\ \(2\)\.html$ adminhamada.html [R=302,L]
</IfModule>

<IfModule mod_headers.c>
  Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  Header set Pragma "no-cache"
  Header set Expires "0"
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/css text/javascript application/javascript application/json image/svg+xml
</IfModule>
